{
    email {$EMAIL}
}

{$HOST} {
    root * /srv
    handle_path /example/* {
        reverse_proxy example:3838
    }
    handle_path /dice/* {
        reverse_proxy dice:3839
    }
    file_server
    header {
        Cache-Control "no-store"
    }
    handle_errors {
        @404 {
            expression {http.error.status_code} == 404
        }
        rewrite @404 /404.html
        file_server
        header {
            Cache-Control "no-store"
        }
    }
    log {
        output file /var/log/caddy/access.log
    }
}
